three-module/train/node_modules/
three-module/train/package-lock.json
three-module/challenge/node_modules/
three-module/challenge/package-lock.json
four-module/challenge/node_modules/
four-module/challenge/package-lock.json
four-module/train/project-rick-and-morty/node_modules/
four-module/train/project-rick-and-morty/package-lock.json